* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #467ba5;
}
.container {
  width: 90%;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.box {
  cursor: pointer;
  width: 100%;
  max-width: 100px;
  aspect-ratio: 1/1;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  border: 3px dashed black;
  transition: all 0.2s ease;
}
.active {
  opacity: 0.4;
  transform: scale(1.05);
}
.over {
  border: 3px dashed red;
}
